<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="middle">
        <div class="help">
            <h3>Оставьте ваше обращение в форме</h3>
            <form action="/treatment" method="post" class="help_form">
                <textarea class="request" id="request" placeholder="Введите ваш вопрос" name="question"></textarea>
                <button type="submit" class="submit">Отправить</button>
            </form>
        </div>
    </div>
</body>
</html>