<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ответ на ваш вопрос</title>
    <link rel="stylesheet" href="/static/css/response.css">
</head>
<body>
    <div class="middle">
        <div class="response">
            <h3>Ответ на ваш вопрос</h3>
            <div class="response_content">
                <p>{{ .Question }}</p>
                <p class="answer">{{ .Answer }}</p>
            </div>
            <a href="/" class="back_link">Назад к форме</a>
        </div>
    </div>
</body>
</html>